
.loader {
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    padding-top: 13%;
    text-align: center;

    img {
        width: 200px;
    }


}