@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #fff;
}

.formWrap {
    position: relative;
}

.searchField,
.searchField:focus {
    padding-left: 40px;
    background-color: #fff;
}

.searchButton {
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: 4px;
    border: 0;

    &.submit {
        background: url('../assets/images/search.png') no-repeat;
        left: 15px;
        background-size: 70%;
        background-position: center;

        &:disabled {
            opacity: 0.1;
            cursor: not-allowed;
        }
    }

    &.close {
        background: url('../assets/images/close.png') no-repeat;
        right: 15px;
        background-size: contain;
    }
}

.header {
    padding: 1rem 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    position: fixed;
    z-index: 22222;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
}

.stop-scroll {
    overflow: hidden;

    @media (min-width: 992px) {
        padding-right: 18px;
    }

    .header {
        @media (min-width: 992px) {
            padding-right: 18px;
        }
    }

    .pageToTop {
        @media (min-width: 992px) {
            right: 38px;
        }
    }
}


body,
html {
    height: 100%;
}

.pageWrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

footer {
    border-top: 1px solid #ddd;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.productListContainer {
    margin-bottom: 2rem;
}

.product {
    &-price {
        min-height: 1;
        padding: 10px 0;

        @media (min-width: 768px) {
            min-height: 68px;
        }

        p {
            margin-bottom: 0;
        }

        &_label {
            color: #f37021;
            margin: 0;
        }

        &_strick {
            color: rgba(0, 0, 0, .38);
            text-decoration: line-through;
        }

        &_discount {
            padding: 2px 6px 3px 6px;
            color: #ed1c24;
            font-weight: 500;
            margin-left: 4px;
            border-radius: 8px;
            background-color: #ffdee0;
            font-size: 0.8rem;
        }


    }

    &-details {
        padding: 1rem 1rem 0 1rem;

        h6 {
            height: auto;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
            font-size: 1rem;
            font-family: Roboto, "Helvetica Neue", sans-serif;

            @media (min-width: 768px) {
                height: 57px;
            }

        }
    }

    &-list {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
        height: 100%;
        padding-bottom: 50px;
        position: relative;

        >button {
            position: absolute;
            bottom: 20px;
            width: 90%;
            margin: 0 5%;
        }
    }

    &-image {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: contain;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-repeat: no-repeat;
    }

    &-vendor {
        &_name {
            background-image: url('../assets/images/location.png');
            background-size: 20px;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-position: left center;
            display: block;
        }

        img {
            width: 24px;
            margin-right: 0.5rem;
        }
    }

    &-review {
        svg {
            color: #fdb813;
            margin-right: 0.5rem;
        }
    }
}

.pagination {
    background: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid;
    border-radius: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    outline: 0 none;

    &:focus-visible {
        outline: 1px solid blue;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &.prev {
        background-image: url('../assets/images/left.png');
        background-position: center;
    }

    &.next {
        background-image: url('../assets/images/left.png');
        background-position: center;
        transform: rotate(180deg);
    }

    &.pageToTop {
        background-image: url('../assets/images/top.png');
        background-position: center;
    }
}

.pageToTop,
pageToTop:focus-visible {
    position: fixed;
    bottom: 30%;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 0;
    margin: 0;
    background-size: 100%;
}

.cdk-overlay-container {
    .cdk-overlay-pane {
        .mat-snack-bar-container {
            color: #000;
            background: #ffd48a;
            box-shadow: 0px 3px 5px -1pxrgba 0, 0, 0, 0.2, 0px 6px 10px 0pxrgba 0, 0, 0, 0.14, 0px 1px 18px 0pxrgba 0, 0, 0, 0.12;
        }

        .mat-snack-bar-container {
            margin: 84px 24px 24px 24px;
        }

        .mat-simple-snack-bar-content {
            background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32px' height='32px'%3E%3Cpath d='M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 15 10 L 15 12 L 17 12 L 17 10 Z M 15 14 L 15 22 L 17 22 L 17 14 Z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            padding-left: 40px;
            font-size: 1rem;
            background-position: top left;
            background-size: 28px;
            min-height: 27px;
            display: flex;
            align-items: center;
        }
    }
}