<div class="pageWrap">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="formWrap col-sm-8 col-md-6 col-lg-6">
          <form [formGroup]="searchFrom" (submit)="searchProduct()">
            <input type="text" class="form-control searchField" [(ngModel)]="searchTerm" formControlName="searchTerm"
              name="searchTerm" placeholder="Search your products here" #searchRef />
            <input class="searchButton submit" type="submit" value="" />
            <input *ngIf="searchTerm" class="searchButton close" (click)="searchTerm=null" type="button" value="" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <section>
    <app-product-group [productList]="productList"></app-product-group>
    <button class="pagination pageToTop border-0" *ngIf="showToTop && productList && productList.length >= 12"
      (click)="scrollbarTop()"></button>
  </section>
</div>